  <!-- item-array <br> -->

  {{ $items := .items }}
  {{ $scr := .scr }}

  {{ range $i, $val := .items }}

<!--     <b>ia obj: i {{ $i }} </b><br> -->

    {{ if (eq $i "text") }}

      {{ partial "morph/item-object.html" (dict "scr" $scr "i" $i "item" $items) }}

    {{ end }}

  {{ end }}


