<div class="col">
  
  <!-- morph OBJ <br> -->

  {{ $items := .items }}
  {{ $scr := .scr }}

  {{ $scr.Set "types" (dict "txt" false "gls" false) }}

  {{ range $i, $val := .items }}

    {{ if or (eq $i 0) (gt $i 0) }}
      
      {{ partial "morph/item-array.html" (dict "scr" $scr "items" $val) }}

    {{ else if (eq $i "text") }}
    
      <!-- <b>mo obj: i {{ $i }} </b><br> -->

      {{ partial "morph/item-object.html" (dict "scr" $scr "i" $i "item" $items) }}

    {{ end }}

  {{ end }}


  {{ if not (index ($scr.Get "types") "gls") }}
    <div class="missing-gloss">&nbsp;</div>
  {{ end }}

</div>