{{ define "main" }}
  
  <!-- LIST TEMPLATE -->

  <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center f6 lh-copy nested-copy-line-height nested-links nested-img mid-gray">
      {{ .Content }}
    </div>
  </article>


  <article class="cf ph3 ph5-l pv3 pv4-l f6 center lh-copy mid-gray">

    <ul class="list pl0">
      {{ range where .Site.Pages "Section" .Section}}
      
        {{ if eq .Type .Section }}
          <li>
              <a href="{{.Permalink}}">{{.Title}}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>

  </article>

{{ end }}
