<div class="button">
    <div class="play-button grow bg-lightest-blue hide-opacity"
         onclick='playRegion(
          {{ div ( float (.startTime) ) 1000 }},
          {{ div ( float (.endtime) ) 1000 }} )'>
      <i class="fa fa-play"></i>
  </div>
</div>
