<div id="audio-row">
    <div id="master-button" class="play-button hide-opacity" onclick="play()">
      <i class="fa fa-play"></i>
    </div>

    <div id="waveform-container">
      <div id="waveform"></div>
    </div>
</div>

<script>

  var elements,
      scroller,
      spinner

  var isPlaying = false

  var wavesurfer = WaveSurfer.create({
      container: '#waveform',
      waveColor: 'violet',
      progressColor: 'purple',
      height: 100
  })

  var play = function () {
    if (isPlaying) {
      wavesurfer.pause()
    } else {
      wavesurfer.play()
    }
  }

  var playRegion = function (begin,end) {
    wavesurfer.play(begin,end)
  }

  var findElementForTime = function (time) {
    for (var i = 0; i < elements.length; i++) {
      if (elements[i].dataset.offset >= time) {
        element = elements[i].parentNode
        scroller.toElement(element, {duration: 50})
        .then(() => {})
        break
      }
    }
  }

  wavesurfer.on('ready', function () {
    // enable the play button
    var buttons = document.querySelectorAll('.play-button')
    buttons.forEach(node => {
      node.classList.remove('hide-opacity')
    })
    // stop the spinner
    spinner.stop()
  })

  wavesurfer.on('audioprocess', function (time) {
    var element, topPos
    var autoScroll = (getCookie("autoScroll")=='true')
    if (autoScroll) findElementForTime(time * 1000)
  })

  wavesurfer.on('seek', function (position) {
    var currentTime = position * (wavesurfer.getDuration()*1000)
    var autoScroll = (getCookie("autoScroll")=='true')
    if (autoScroll) findElementForTime(currentTime)
  })

  wavesurfer.on('pause', function () {
    isPlaying = false
    document.getElementById('master-button').innerHTML = '<i class="fa fa-play"></i>'
  })

  wavesurfer.on('play', function () {
    isPlaying = true
    document.getElementById('master-button').innerHTML = '<i class="fa fa-pause"></i>'
  })

  var responsiveWave = wavesurfer.util.debounce(function() {
    wavesurfer.empty()
    wavesurfer.drawBuffer()
  }, 150)

  window.addEventListener('resize', responsiveWave)


  document.addEventListener('DOMContentLoaded', function(){

    // eek, this is a dangerous use of global var with a common name :P
    elements = document.querySelectorAll('.phrase-content')

    scroller = new Scroll(document.getElementById('scrolling_div'))

    var opts = {
      lines: 13, // The number of lines to draw
      length: 57, // The length of each line
      width: 4, // The line thickness
      radius: 66, // The radius of the inner circle
      scale: 0.3, // Scales overall size of the spinner
      corners: 1, // Corner roundness (0..1)
      color: '#000', // CSS color or array of colors
      fadeColor: 'transparent', // CSS color or array of colors
      opacity: 0.25, // Opacity of the lines
      rotate: 0, // The rotation offset
      direction: 1, // 1: clockwise, -1: counterclockwise
      speed: 1, // Rounds per second
      trail: 81, // Afterglow percentage
      fps: 20, // Frames per second when using setTimeout() as a fallback in IE 9
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      className: 'spinner', // The CSS class to assign to the spinner
      top: '49%', // Top position relative to parent
      left: '50%', // Left position relative to parent
      position: 'absolute' // Element positioning
    }
    spinner = new Spinner(opts).spin(document.getElementById('audio-row'))

    wavesurfer.load('{{ .baseurl }}/audio/{{ .transcriptId }}.mp3')

  }, false)
</script>
