
  {{ $scr := .scr }}    
  {{ $type := .type }}    

  {{ range $i, $annotation := .tier }}

    <!-- Get from map -->
    <!-- {{ $annotation.ALIGNABLE_ANNOTATION.TIME_SLOT_REF1 }} -->

    {{ if $annotation.ALIGNABLE_ANNOTATION.TIME_SLOT_REF1 }}
      {{ $scr.Set "phraseBeginTimeOffset" (index ($scr.Get "timesSlots") $annotation.ALIGNABLE_ANNOTATION.TIME_SLOT_REF1) }}
    {{ end }}

    {{ if $annotation.ALIGNABLE_ANNOTATION.TIME_SLOT_REF2 }}
      {{ $scr.Set "phraseEndTimeOffset" (index ($scr.Get "timesSlots") $annotation.ALIGNABLE_ANNOTATION.TIME_SLOT_REF2) }}
    {{ end }}

    {{ if $scr.Get "refAnnotations" }}
    {{ $scr.Set "translation" (index ($scr.Get "refAnnotations") $annotation.ALIGNABLE_ANNOTATION.ANNOTATION_ID) }}
    {{ else }}
    {{ $scr.Set "translation" "" }}            
    {{ end }}

    <div class='phrase' id="phrase-{{ $i }}">
      <div class="phrase-content" data-offset='{{ $scr.Get "phraseEndTimeOffset" }}'>

        {{ if eq $type "phrase" }}
          <div class="phrase-id pa1">{{ add 1 $i }}</div>
          {{ $startTime := $scr.Get "phraseBeginTimeOffset" }}
          {{ $endtime   := $scr.Get "phraseEndTimeOffset" }}
          {{ partial "audio-button.html" (dict "startTime" $startTime "endtime" $endtime ) }}
        {{ end }}

        <div class="words cf ph2-ns">
          <div class='word-row  fl w-50 pa2 '>
            {{ $annotation.ALIGNABLE_ANNOTATION.ANNOTATION_VALUE }}
            {{ $annotation.REF_ANNOTATION.ANNOTATION_VALUE }}
          </div>
          <div class='word-row translation fl w-50 pa2'>
            {{ $scr.Get "translation" }}
          </div>
        </div>

      </div>
    </div>

  {{ end }}
